
form {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

.error {
    color: $red;
        padding-top: .5rem;
        font-size: 1.2rem;
}

.forgotPassword {
    color: $white;
    font-size: 1.3rem;
}


.fieldInput {
    border-radius: 5px;
    width: 22rem;
    height: 4.5rem;
    background: $white;
    border: 1px solid $white;
    padding: 1rem;
    font-size: 2rem;
    color: $dark-grey;
    margin: 1rem;
}

.formBtn {
    border-radius: 3rem;
    background: $teal;
    height: 5rem;
    width: 15rem;
    display: block;
    margin: 1rem auto;
    font-size: 2rem;
    border-color: $teal;
    margin-bottom: 30px;
    margin-top: 20px;
}

.loginForm, .user-form {
    height: 85vh;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        color: $white;
        font-size: 2.5rem;
        margin-bottom: 30px;
    }
}

form > .form__para, form > .forgotPassword {
    color: $white;
    font-size: 1.8rem;
    &:hover {
        color: white;
    }
    a {
        color: $teal;
        font-size: 1.8rem;
    }
}
