.CardComponentStyle {
    display: flex;
    flex-flow: wrap;

    div {
        margin: 1rem auto;
        width: 20rem;
        background: $purple;
        color: $white;

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .card-content {
            align-items: center;
        }

        p {
            font-size: 1.5rem;
        }

        .text-muted__color {
            color: $white;
        }
    }
}
