html {
  font-size: 62.5%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("https://cl.ly/bbeef4394861/MARKETING%252520PAGE%252520BACKGROUND%2525202160x1024.png") no-repeat center bottom fixed;   
    background-size: cover;
  height: 100%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  // .container {
  //   background-image: linear-gradient(
  //     to bottom, 
  //     rgba($purple, 1) 0%,
  //     rgba($purple, 1) 60%,
  //     rgba($indigo, 1) 90%
  //   );
  //   height: 100vh;
<<<<<<< HEAD

  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  // }
=======

  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  // }

>>>>>>> Some styling updates.

 