.App > div > .navbar {
    background: url('../src/assets/MARKETING\ PAGE\ BACKGROUND\ 2160x1024.png') center bottom fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    padding: 20px 30px;
    .navbar-brand {
        display: flex;
        align-items: center;
        img {
            height: 70px;
            width: 70px;
        }
        span {
            color: white;
            font-size: 40px;
            margin-left: 20px;
        }
    }
    .navbar-links {
        min-width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            color: $light-grey;
            font-size: 20px;
            margin: 0 10px;
            &:hover {
                text-decoration: none;
            }
        }
        .activeNavButton {
            color: $teal;
            font-weight: 500;
        }
        @media(max-width: 800px) {
            display: none;
        }
    }
}
