.card-container {
    display: flex;
    flex-direction: row;
    border: 2px solid $light-grey;
    margin: 2.5%;
    width: 100%;

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 2.2rem;
    }
}

.img-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.25% 0;
    
    img {
        max-height: 400px;
        max-width: 400px;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}